<div class="message-div" style="justify-content: flex-end">
  <div class="message-right">
    <p class="message-sender text-right">
      <%= message.body %>
      <span class="message-time"><%= message.created_at.strftime("%I:%M%p") %></span>
    </p>
  </div>
</div>

