// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");

// Define fonts for body and headers
$body-font: "Open Sans", "Helvetica", "sans-serif";
// $headers-font: "Futura", "Helvetica", "sans-serif";

@font-face {
  font-family: "Futura";
  src: asset-url('fonts/Futura.ttc') format('truetype');
}

// $my-font: "Futura";
