// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");

// Importing Futura font
@font-face {
  font-family: "Futura";
  src: asset-url('Futura.ttc'), format('truetype');
}

// Define fonts for body and headers
$body-font: "Futura", "Helvetica", "sans-serif";
$headers-font: "Futura", "Helvetica", "sans-serif";

