.food-show-dot {
  color: $viridian-green;
}

.drink-show-dot {
  color: $rose-red;
}

.play-show-dot {
  color: $usc-gold;
}

.chill-show-dot {
  color: $silver-sand;
}

.category-title {
  letter-spacing: 2px;
}
