.event-image {
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto 10px auto;
}

.event-photo {
  width: 100%;
}

.event-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
