.feed-card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 17px;
}

.feed-card-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
  p {
    margin: 0 10px;
    font-size: 13px;
  }
}

hr {
    margin-top: 15px;
    margin-bottom: 15px;
}

#time-feed {
  font-weight: lighter;
  color: $silver-sand;
  size: 8px;
  margin: none;
}

.feed-card-right {
  p {
    margin: 0;
    font-size: 13px;
  }
}
