.following {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.followers-followings-hostings {
  font-size: 15px;
}

.following-info {
  display: flex;
  align-items: center;
  flex-grow: 1;
  p {
    margin: 0 10px;
    font-size: 15px;
  }
}

.unfollow-button {
  font-size: 14px;
}

.unfollow-link {
  flex-grow: 1;
  text-align: right;
}

#unfollow {
  padding: 10px 15px;
  background-color: #BF1363;
  color: white;
  justify-content: center;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin: auto;
  border: none;
  box-shadow: 0 0 3px rgba(0,0,0,0.3);
}

#follow {
  padding: 10px 15px;
  background-color: #BF1363;
  color: white;
  justify-content: center;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin: auto;
  border: none;
  box-shadow: 0 0 3px rgba(0,0,0,0.3);
}
