.page-title {
  font-size: 30px;
  margin: 20px auto ;
  letter-spacing: 2px;
}

.all-conversations {
  height: 60vh;
  overflow: scroll;
}

.messages {
  height: 100%;
}

.inbox-list {
  margin: 10px auto;
}

.users {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin: 10px 0;
}

.user-info {
  margin: 0 10px;
  max-width: 80px;
  flex: 0 0 auto;
}

.inbox-search {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
}
