.password-reset-main-container {
  width: 100vw;
  height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.password-reset-container {
  position: relative;
  height: 350px;
  width: 300px;
  margin: -60px 0px 0px 0px;
}

.password-reset-input {
  width: 250px;
  height: 250px;
  font-size: 10px;
  background-color: white;
  box-shadow: 0px 0px 50px rgba(0,0,0,0.3);
  padding: 20px;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  color: $silver-sand;
  display: flex;
  align-items: center;
  .required {
    border: none;
    box-shadow: none;
  }
}

.password-reset-button {
  background-color: $usc-gold;
  width: 250px;
  height: 280px;
  font-size: 15px;
  box-shadow: 0px 0px 50px rgba(0,0,0,0.3);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 20px;
  margin-bottom: 60px;
  position: absolute;
  top: 70px;
  left: 50px;
  z-index: 1;
  .shared-links {
    font-size: 10px;
    a {
      color: $viridian-green;
    }
  }
  .plain-log-in-button {
  background-color: transparent;
  font-size: 15px;
  font-weight: bold;
  color: $baby-powder;
  }
}


