.profile-wrapper {
  height: calc(100vh - 65px);
}

.logo-period-profile {
  color: $rose-red;
}

.profile-container {
  height: calc(100vh - 115px);
}

.name-profile {
  font-size: 30px;
  letter-spacing: 2px;
}

#edit-profile-button {
  padding: 5px 10px;
  color: white;
  background-color: white;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 1px;
}

#edit-profile-button a {
  font-size: 12px;
}

a{
  font-size: 15px;
  font-weight: ligher;
  color: $eerie-black;
  &:hover{
    color: $viridian-green;
    text-decoration: none;
  }
}

.followers-followings-hostings {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
}

.profile-events {
  margin: 5px;
}

#contact_user {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 3px 5px;
  border-radius: 3px;
  color: rgba(0, 0, 0, 0.2);
  &:hover {
    border: 1px solid rgba(0, 0, 0, 0.5);
    color: rgba(0, 0, 0, 0.5);
  }
}

.interaction {
  display: flex;
  align-items:center;
  justify-content: space-around;
  margin: 20px;
}

.back-button {
  height: 20px;
  width: 20px;
  margin: 10px;
}
