.profile-wrapper {
  height: calc(100vh - 65px);
}

.logo-period-profile {
  color: $rose-red;
}

.profile-container {
  height: calc(100vh - 115px);
}

.name-profile {
  font-size: 30px;
  letter-spacing: 2px;
}

#edit-profile-button {
  padding: 10px 15px;
  background-color: $rose-red;
  justify-content: center;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin: auto;
  border: none;
  box-shadow: 0 0 3px rgba(0,0,0,0.3);
  a {
    font-size: 12px;
    color: white;
  }
}

a{
  font-size: 15px;
  font-weight: ligher;
  color: $eerie-black;
  &:hover{
    color: $viridian-green;
    text-decoration: none;
  }
}

.followers-followings-hostings {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
}

.profile-events {
  margin: 5px;
}

#contact_user {
  padding: 10px 15px;
  background-color: #BF1363;
  color: white;
  justify-content: center;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin: auto;
  border: none;
  box-shadow: 0 0 3px rgba(0,0,0,0.3);
}

.interaction {
  display: flex;
  align-items:center;
  justify-content: space-around;
  margin: 20px;
}

.back-button {
  height: 20px;
  width: 20px;
  margin: 10px;
}
