.users-search {
  margin-top: 10px;
  height: 60vh;
  overflow: scroll;
}

.user-info {
  p {
    margin: 3px 0;
  }
  text-align: center;
}

.form-text {
  margin: 0 0 10px 0;
}

.search-user-form {
  // margin: 10px;
}

.search-form {
  width: 100%;
  display: flex;
}

.search {
  width: 100%;
  padding-top: 10px;
  display: flex;
  justify-content: center;
}

.searchTerm {
  flex-grow: 1;
  float: left;
  border: 3px solid $silver-sand;
  padding: 10px;
  height: 40px;
  border-radius: 10px 0 0 10px;
  color: $eerie-black;
}

.searchButton {
  width: 40px;
  height: 40px;
  border: 1px solid $silver-sand;
  background: $silver-sand;
  text-align: center;
  color: white;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  font-size: 20px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
