<div class="password-reset-main-container">
  <div class="password-reset-container">
    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <div class="password-reset-input">
        <div class="password-reset-form-inputs">
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
          <div class="reset-password">
            <%= f.button :submit, "RESET PASSWORD", class: "plain-reset-password-button" %>
          </div>
        </div>
      </div>
      <div class="password-reset-button">
        <div class="form-actions">
          <div class="shared-links">
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


