<div class="wrapper">
  <div class="container">
    <h2>Your Events</h2>
    <% if @events.count.zero? %>
      <p>You haven't booked any events yet.</p>
    <% else %>
      <% @events.each do |event| %>
        <p><%= event.title %> on <strong><%= event.date.strftime('%A, %b %d') %></strong></p>
        <hr>
      <% end %>
    <% end %>
  </div>
</div>
