<div class="wrapper">
  <div class="container">
    <h2>Your Events</h2>
    <% @events.each do |event| %>
      <p><%= event.title %> on <strong><%= event.date.strftime('%A, %b %d') %></strong></p>
      <hr>
    <% end %>
  </div>
</div>
