
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <%= link_to @link, class:"questionmark" do %>
        <i class="fas fa-question-circle questionmark"></i>
      <% end %>
    </div>
  </div>
</div>



