<div class="wrapper">
  <%= link_to :back do %>
    <i class="fas fa-long-arrow-alt-left" style="font-size: 25px;"></i>
  <% end %>
  <% @followers.each do |follow| %>
    <div class="following">
      <% user = User.find(follow.follower_id) %>
      <div class="following-info">
        <% if user.photo? %>
          <%= cl_image_tag(user.photo, width: 200, height: 200, crop: :fill, class:"avatar-large") %>
        <% else %>
          <%= image_tag('default-avatar.png', width: 200, height: 200, crop: :fill, class:"avatar-large") %>
        <% end %>
        <p><%= "#{user.first_name.capitalize} #{user.last_name.capitalize}" %></p>
      </div>
    </div>
    <hr style="padding: 5px;">
  <% end %>
</div>
