#search-form {
  margin-bottom: 0;
}


.index-search {
  margin: 10px;
  width: 70vw;
  border-radius: 10px;
  color: $eerie-black;
}

.search-button {
  background-color: $viridian-green;
  border-color: $viridian-green;
  border-radius: 10px;
  color: white;
  height: 39px;
  width: 93px;
  text-align: center;
}

.search-container {
  margin: auto;
  height: 290px;
  padding-top: 10px;
  border: 1px solid $viridian-green;
  border-top: transparent;
  border-radius: 0px 0px 5px 5px;
  background-color: white;
  overflow: hidden;
}

// SLIDING FUNCTION

label[for="toggle"] {
  font-size: 15px;
  font-weight: lighter !important;
  color: $eerie-black;
  bottom: 0;
  cursor: pointer;
  z-index: 10000;
  margin-top: 9px;
  width: 100%;
}

#toggle {
  display: none;
}

.sliding-panel {
  display: flex;
}

aside {
  position: fixed;
  top: -200px;
  left: 0;
  right: 0;
  z-index: 10000;
  transition: 0.6s all;
}

#toggle:checked + aside {
  top: 59px;
}
