/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  border-radius: 0 0 5px 5px;
}
.alert-info {
  background: transparent;
  border: 1px solid $viridian-green;
  color: $viridian-green;
}
.alert-warning {
  background: transparent;
  border: 1px solid $rose-red;
  color: $rose-red;
}
