.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.avatar-sm {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}


.avatar-large {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.avatar-xl {
  width: 200px;
  height: 200px;
  margin: 30px auto;
  border-radius: 50%;
}

.avatar-bordered {
  width: 30px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 30px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.avatar-unread-messages {
  display: flex;
  align-items: center;
  align-self: flex-end;
  margin: 0 !important;
  font-weight: 600;
  justify-content: space-around;
}
