// // .modal-container {
// //   margin: 10px;
// // }

// // .model-content {
// //   width: 80vw;
// //   height: 55vh;
// //   position: absolute;
// //   top: 0;
// //   left: 0;
// // }

// // .modal-create-event {
// //   width: 80vw;
// //   height: 74vh;
// //   background-color: $viridian-green;
// //   position: absolute;
// //   bottom: 0;
// //   right: 0;
// //   transition: opacity 0.15s linear;
// //   z-index: 1;
// // }

// // .modal-dialog {
// //   width: 80vw;
// //   margin: 0;
// //   z-index: 2;
// // }

// // .modal {
// //   width: 94vw;
// //   height: 83vh;
// //   margin: 100px auto auto auto;
// // }

.modal-title {
  font-size: 30px;
  letter-spacing: 1px;
}

.modal-content {
  border-radius: 15px;
}

.modal-footer {
  background-color: $viridian-green;
  border: none;
  border-radius: 0 0 10px 10px;
}

.idk-button {
  color: white;
  font-weight: bold;
  border: none;
  background: transparent;
  box-shadow: none;
}

.guests-input {
  margin: 0;
}
