.footer {
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  align-items: center;
  justify-content: space-between;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  background-color: $silver-sand;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 25vw;
}
.footer-links a {
  color: black;
  text-decoration: none;
  font-size: 24px;
  width: 55%;
  text-align: center;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

.food {
  height: 73px;
}

.drinks {
  height: 73px;
}

.drinks-height {
  width: 50% !important;
}

.adventure {
  height: 73px;
}

.chill {
  height: 73px;
}

.footer-icons {
  width: 80%;
  height: 30px;
}


.footer-links p {
  font-size: 10px;
  font-weight: bold;
  color: grey;


}

.footer-title {
  width: auto;
  margin: 0;
}
