.message-sender {
  border: 3px solid $usc-gold;
  color: black !important;
  // text-shadow: 0 0 1px rgba(0,0,0,0.3);
  border-radius: 10px;
  margin: 0 0 0 auto;
  font-size: 14px;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  position: relative;
  padding-right: 55px;
  p {
    margin: 0;
    padding: 5px 0 5px 10px;
    font-family: 'Open Sans';
  }
}

.message-sender:after {
  content: '';
  position: absolute;
  bottom: 11px;
  right: -10px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: $usc-gold;
  border-bottom: 0;
  border-left: 0;
  margin-left: -5px;
  margin-bottom: -10px;
  transform: rotate(-90deg);
}

.message-receiver {
  border: 3px solid $viridian-green;
  color: black !important;
  box-shadow: 0 0 3px rgba(0,0,0,0.3);
  border-radius: 10px;
  margin: 0 auto 0 0;
  font-size: 14px;
  position: relative;
  padding-right: 55px;
  p {
    margin: 0;
    padding: 5px 0 5px 10px;
    font-family: 'Open Sans';
  }
}

.message-receiver:after {
  content: '';
  position: absolute;
  bottom: 9px;
  left: -5px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: $viridian-green;
  border-bottom: 0;
  border-left: 0;
  margin-left: -5px;
  margin-bottom: -10px;
  transform: rotate(-100deg) scaleY(-1);
}

.message-time {
  font-size: 9px;
  color: rgba(0,0,0,0.5);
  position: absolute;
  bottom: 2px;
  right: 5px;
}

.back-to-conversations {
  flex-grow: 1;
}

.back-arrow {
  text-align: left;
  margin: 5px 0;
}

.header-inbox {
  display: flex;
  text-align: center;
  align-items: center;
  height: 75px;
    width: 100% !important;
  @media only screen and (max-width: 600px) {
  }
  @media only screen and (min-width: 600px) {
    // width: 70%;
  }
  margin: 0 auto;
}

// .back-arrow {
//   width: auto;
// }

.user-inbox {
  // flex-grow: 1;
  margin: 0 !important;
  display: flex;
  align-items: center;
}


.user-info-inbox-name {
  display: flex;
  // align-items: center;
}

.conversations {
  flex-grow: 1;
}

.form-div {
  display: flex;
  align-items: center;
  width: 100% !important;
}

.message-wrapper {
  display: flex;
  flex-direction: column;
  @media only screen and (min-width: 992px) {
    margin: 50px 200px 0 200px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    height: calc(90vh - 60px);
  }
  @media only screen and (max-width: 992px) {
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.messages {
  width: 100%;
  margin: 0 auto 0 auto;
  overflow: scroll;
  padding: 10px 10px 0 10px;
  background: white;
  display: flex;
  flex-direction: column;
  position: relative;
  flex-grow: 1;
}

.message-div {
  margin: 10px 0;
  display: flex;
}

.conversations {
  padding: 15px;
  margin: 15px;
  border-radius: 10px;
}

.form {
  display: flex;
}

#message_body {
  width: 100%;
  height: 70%;
  border: none;
  // border: 1px solid rgba(0,0,0,0.1);
  border-radius: 20px;
  padding: 5px 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  resize: none;
  box-shadow: none;
  font-family: 'Open Sans';
}

.msg-button {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-color: $rose-red;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 3px rgba(0,0,0,0.3);
  padding: 6px 12px 6px 10px;
}

.form-button-container {
  margin-left: 5px;
  display: flex;
  align-items: center;
}

.inbox {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
