.message-sender {
  background-color: #0B79F0;
  padding: 5px 20px;
  border-radius: 10px;
  width: 30%;
  margin: 0 0 0 auto;
  color: white;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.message-receiver {
  background-color: white;
  padding: 5px 20px;
  border-radius: 10px;
  width: 30%;
  margin: 0 auto 0 0;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.back-to-conversations {
  flex-grow: 1;
}

.header-inbox {
  display: flex;
  align-items: center;
  width: 70%;
  margin: 0 auto;
}

.user-inbox {
  flex-grow: 1;
}

.user-info-inbox {
  display: flex;
  align-items: center;
}

.user-info-inbox-name {
  display: flex;
  align-items: center;
}

.conversations {
  flex-grow: 1;
}

.messages {
  width: 70%;
  margin: 0 auto;
  max-height: 70vh;
  overflow: scroll;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.message-div {
  margin: 20px 0;
}

.conversations {
  padding: 15px;
  margin: 15px;
  border-radius: 10px;
}
