.message-sender {
  background-color: $usc-gold;
  color: white !important;
  // border: 2px solid $usc-gold;
  // background-color: white;
  // color: white;
  padding: 6px 20px;
  border-radius: 10px;
  margin: 0 0 0 auto;
  // box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  // text-shadow: 0 0 10px rgba(0,0,0,0.2);
  font-size: 16px;
}

.message-receiver {
  background-color: $viridian-green;
  color: white !important;
  // border: 2px solid $viridian-green;
  // background-color: white;
  // color: white !important;
  padding: 6px 20px;
  border-radius: 10px;
  margin: 0 auto 0 0;
  // box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  // text-shadow: 0 0 10px rgba(0,0,0,0.2);
  font-size: 16px;
}

.back-to-conversations {
  flex-grow: 1;
}

.back-arrow {
  text-align: left;
  margin: 5px 0;
}

.header-inbox {
  display: block;
  justify-content: center;
  text-align: center;
  align-items: center;
  @media only screen and (max-width: 600px) {
    width: 100% !important;
  }
  @media only screen and (min-width: 600px) {
    width: 70%;
  }
  margin: 0 auto;
}

// .back-arrow {
//   width: auto;
// }

.user-inbox {
  // flex-grow: 1;
  margin: 0 !important;
}

.user-info-inbox {
  display: flex;
  align-items: center;
}

.user-info-inbox-name {
  display: flex;
  // align-items: center;
  margin: 10px;
}

.conversations {
  flex-grow: 1;
}

.form-div {
  @media only screen and (max-width: 600px) {
    width: 100% !important;
  }
  @media only screen and (min-width: 600px) {
    width: 70%;
  }

}

.messages {
  @media only screen and (max-width: 600px) {
    width: 100% !important;
  }
  @media only screen and (min-width: 600px) {
    width: 70%;
  }
  margin: 0 auto 0 auto;
  min-height: 60vh;
  max-height: 60vh;
  overflow: scroll;
  padding: 15px 15px 0 15px;
  background: white;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  position: relative;
}

.message-div {
  margin: 20px 0;
  display: flex;
}

.conversations {
  padding: 15px;
  margin: 15px;
  border-radius: 10px;
}

.form {
  display: flex;
}

#message_body {
  flex-grow: 1;
  border: none;
  // border: 1px solid rgba(0,0,0,0.1);
  border-radius: 0 0 0 10px;
  padding: 5px;
}

.msg-button {
  height: 64px !important;
  border-radius: 0 0px 10px 0;
  background-color: $silver-sand;
  color: white;
}

#send-message-form {
  border-radius: 0 0 10px 10px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}
